.homeContainer{
  color: #3d1544;
}
.productCard{
float: left;
margin-left: 16px;

}
.footer{
  height: 500px;
  background-color: red;
}
.allProductHeading{
  display: flex;
  justify-content: center;
}
.allProductHeading h1{
  font-size: 60px;

}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  background-color: rgba(255, 0, 55, 0.178);
}